@import "../scss/reset.scss";

$col-white: #fff;
$col-bg: whitesmoke;
$col-text-blue: blueviolet;
$col-text-grey: grey;
$col-text-b-grey: darkgray;
$col-btn: #eeeeee;
$col-black: #000;


html {
  font-family: sans-serif;
  font-size: 14px;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.wrap {
  height: 100%;

  .header {
    background-color: $col-white;

    &__box {
      padding: 7px 0;
    }

    &__brand-company {
      padding-top: 4px;
      color: $col-text-blue;
      margin-right: 20px;
      float: left;
    }

    &__btn-navbar {
      cursor: pointer;
      font-size: 17px;
      border: 0;
      background-color: $col-white;
      padding: 0 10.5px;

      &:focus {
        outline: none;
      }
    }

    &__brand {
      vertical-align: middle;

      &-icons {
        padding-right: 4px;
        color: $col-text-blue;
      }
    }

    &__menu {
      display: flex;

      li {
        list-style: none;
      }

      &-link {
        font-size: 14px;
        color: $col-text-grey;
        transition: all .2s ease-in-out;

        &:hover {
          color: $col-text-blue;
        }
      }
    }

    &__form-exit {

      .btn-exit {
        cursor: pointer;
        border: 0;
        background-color: white;
        color: blueviolet;
        font-size: 14px;

        &:focus {
          outline: none;
        }
      }
    }
  }

  .main {

    &__title {
      font-size: 23px;
      padding-top: 62px;
      letter-spacing: 0;
      word-spacing: 0.2px;
    }

    &__block-h2 {
      padding-top: 59px;
      font-size: 17px;
    }

    &__social {
      padding-top: 32px;
      margin-left: -16px;

      &-button {
        cursor: pointer;
        width: 45px;
        height: 45px;
        margin-left: 16px;
        color: gray;
        background-color: $col-btn;
        transition: all .5s ease-in-out;

        &:hover {
          background-color: $col-text-b-grey;
          color: $col-btn;
        }
      }
    }

    &__additional-login {
      padding-top: 31px;
    }

    &__form-login {

      .left {
        margin-left: -19px;
      }

      .inputBox {
        position: relative;
        margin-left: 19px;
        margin-top: 30px;
        background-color: #eeeeee;
        width: 272px;
        height: 56px;
        border-radius: 3px;
        padding-left: 14px;

        &:focus {
          height: 56px;
        }

        .inputText {
          position: absolute;
          font-size: 13px;
          line-height: 76px;
          transition: .6s;
        }

        .input {
          position: relative;
          width: 100%;
          height: 60px;
          background: transparent;
          border: none;
          outline: none;
          font-size: 16px;
        }

        &.focus .inputText{
          transform: translateY(-28px);
          font-size: 15px;
          opacity: 1;
          color: #b6b4a1;
        }
      }

    }
  }

}

.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: none;
}

textarea {
  height: 80px !important;
}

textarea:focus {
  content: "";
  width: 272px;
  border-radius: 3px;
}

.fa-check {
  position: absolute;
  padding-left: 226px;
  margin-top: 28px;
  color: #b6b4a1;
}

@media (max-width: 767px) {
  .wrap {
    .header__menu {
      flex-direction: column;

      li {
        padding: 12px 0;
      }
    }
  }
}

