body{
    background-color: whitesmoke;
    padding: 0;
    font-family: sans-serif;
}
.container {
    max-width: 2560px;
}
.navbar {
    margin-bottom: 0;

}
.header {
    background-color: white;
}
.dropdown-menu {
    margin-left: 6px;
}
.dropdown-menu a {
    text-decoration: none;
    color: gray;
    padding-left: 6px;
}
.dropdown-menu a:hover {
    text-decoration: none;
    color: black;

}
.header__button-navbar {
    font-family: 'Montserrat', sans-serif;
    padding-top: 7px;
    font-size: 17px;
    margin-left: -24px;
    border: 0;
    margin-right: 13px;
    float: left;
    background-color: white;
}
.header__brand {
    position: relative;
}
.header__brand-icons {
    position: relative;
    padding-top: 4px;
    color: blueviolet;
    margin-right: 20px;
    float: left;
}
.header__menu {
    position: relative;
    margin-bottom: 0;
}
.header__menu li{
    position: relative;
    display: inline-block;
    list-style: none;
    margin-right: 17px;
}
.header__menu-link {
    font-size: 14px;
    color: gray;
}
.header__form-exit {
    margin-right: 0;
}
.header__button-exit {
    border: 0;
    background-color: white;
    color: blueviolet;
    font-size: 14px;
}
#navbar-left-menu {
    width: 97%;
    position: relative;
    background-color:whitesmoke;
}

.main__menu {
    margin-left: -24px;
    border-right: 0.7px double #d0ceb9;
    height: 93vh;
    width: 100px;
}

.main__menu-button {
    margin-left: 14px;
    margin-bottom: 22px;
    background-color: inherit;
    font-size: 12px;
    color: darkgray;
    letter-spacing: 1.7px;
    padding-left: 18px;

}
.main__menu-button:hover, .main__menu-button:focus {
    text-transform: uppercase;
    padding: 16px 46px 9px 16px;
    letter-spacing: 1.1px;
    word-spacing: 0.4px;
    background-color: white;
    color: gray;
    font-size: 12px;
    margin-bottom: 16px;
}
.main__title {
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    margin-top: 62px;
    letter-spacing: 0;
    word-spacing: 0.2px;
}
.main__block-h2 {
    margin-top: 59px;
    font-size: 17px;
}
.main__social {
    margin-top: 32px;
    margin-left: -16px;
}
.main__social-button {
    width: 45px;
    height: 45px;
    margin-left: 16px;
    color: gray;
    background-color: #eeeeee;
}
.main__social-button:hover {
    background-color: darkgray;
    color: #eeeeee;
}
.main__additional-login {
    margin-top: 31px;
    color: gray;
    font-size: 12px;
    margin-bottom: 0;
}
.main__form-login {
    box-sizing: border-box;
    position: relative;
    display: inline;
}
.inputBox {
    margin-left: 19px;
    margin-top: 30px;
    background-color: #eeeeee;
    width: 272px;
    height: 56px;
    border-radius: 3px;
    padding-left: 14px;

}
.inputBox:focus {
    height: 56px;

}
textarea:focus {
    content: "";
    width: 272px;
    border-radius: 3px;
}

.inputBox .inputText{
    position: absolute;
    font-size: 13px;
    line-height: 76px;
    transition: .4s;
    opacity: .5;
}
.fa-check {
    position: absolute;
    padding-left: 226px;
    margin-top: 28px;
    color: #b6b4a1;
}
.inputBox .input{
    position: relative;
    width: 100%;
    height: 60px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;

}
.focus .inputText{
    transform: translateY(-28px);
    font-size: 15px;
    opacity: 1;
    color: #b6b4a1;

}
textarea{
    height: 80px !important;
}